#define VERSION       0,1,0
#define VERSION_STR  "0.1.0"

1 VERSIONINFO
FILEVERSION VERSION
PRODUCTVERSION VERSION
{
	BLOCK "StringFileInfo" {
		BLOCK "040904E4" {
			VALUE "CompanyName", "https://sindresorhus.com"
			VALUE "FileDescription", "Copy to the Windows clipboard"
			VALUE "FileVersion", VERSION_STR
			VALUE "InternalName", "copy"
			VALUE "LegalCopyright", "MIT Licence © Sindre Sorhus"
			VALUE "OriginalFilename", "copy.exe"
			VALUE "ProductName", "copy"
			VALUE "ProductVersion", VERSION_STR
		}
	}
	BLOCK "VarFileInfo" {
		VALUE "Translation", 0x0409, 1200
	}
}
